* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #333;
  color: white;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
}

.logo a {
  display: inline-block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}
.logo {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  float: right;
}

li {
  float: right;
  text-decoration: none;
  list-style-type: none;
}
/*
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:hover {
  background-color: #111;
}*/
li a {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;  
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;  
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

li a:hover {
  background-position: 0;
}

li a:hover::before {
  width: 100%;
}
